[user]
    email = ""
    name = Traxmaxx
    signingkey = ""

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    quotepath = false
    autocrlf = input
    trustExitCode = true

[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto
    ui = auto

[mergetool]
    keepBackup = trustExitCode

[alias]
    stats = shortlog -sn
    dft = difftool

[diff]
    external = difft

[pager]
    difftool = true


[push]
    default = current
[commit]
    gpgsign = false
